body {
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("images/banner-img.jpg") center/cover no-repeat;
    color: #f9d342;
    line-height: 100%;
}

img {
    width: 275px;
    height: 140px;
    padding-top: -50px;
}

hr {
    background-color: #F9D342;
    height: 10px;
    width: 75%;
    border-style: none;
    border-top-style: dotted;
    border-width: 2px;
}

.booking_heading {
    font-size: 50px;
    padding-top: 0px;
}

.file {
    padding-left: 60px;
}

.value {
    color: #82CD47;
    font-size: 20px;
}

#Origin{
    width: 30%;
    height: 40px;
    border: 2px solid #F9D342;
    border-radius: 10px;
}

.file{
    width: 30%;
    height: 40px;
    border: 2px solid #F9D342;
    border-radius: 10px;
}

.submit {
    width: 10%;
    height: 40px;
    border-color: #F9D342;;
    background-color: #F9D342;
    color: white;
}

.submit:hover {
    background-color: #F9D342;;
    color: white;
}